* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/1600/900");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(13, 10, 10);
    letter-spacing: 5px;
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
}

button {
    padding: 10px;
    font-size: 90px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

#rock {
    background-color: #a200ff;
}

#paper {
    background-color: #9ee01a;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.you-score span {
    color: #3943b5;
}

.machine-score span {
    color: #f95808;
}

/* Link ajustado para ficar à esquerda */
a {
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.blink {
    animation: blink-animation 0.5s infinite alternate;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Barra de Rodapé ajustada para ficar à esquerda */
.footer {
    display: flex;
    justify-content: flex-start; /* Alterado para alinhamento à esquerda */
    align-items: center;
    gap: 15px;
    bottom: 0;
    left: 10px; /* Ajustado para alinhamento à esquerda */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilo dos links da barra de rodapé */
.footer a {
    color: white;
    font-size: 10px;
    text-decoration: none;
}

.footer a:hover {
    color: #f1c40f;
}

/* Responsividade */
@media (max-width: 600px) {
    .footer a {
        font-size: 18px;
    }

    h1 {
        font-size: 3rem;
    }

    .image {
        width: 120px;
        height: 120px;
    }

    button {
        font-size: 60px;
    }

    .buttons {
        gap: 20px;
    }

    .container {
        padding: 10px;
    }

    /* Alinha o link "Conheça o jogo e sua história" à esquerda */
    a {
        left: 10px; /* Ajustado para a esquerda */
    }
}
